.container {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;
}
  
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: auto;
    gap: 10px;
}
  
.flex-con {
  flex: auto;
}
.type2 {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto;
}
.type3 {
  max-width: 192px;
  max-height: 192px;
  margin: 5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer > div {
  flex: auto;
}
